#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organised, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio nobis quidem fugiat hic provident voluptas quam obcaecati libero eligendi id consequuntur, perferendis et vero assumenda. Veritatis non assumenda, ipsa voluptate.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
